<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usuario/novo" method="post">
        <div>
            <label for="nickname">Nickname: </label>
            <inpit type="text" id="nickname" name="nickname"></inpit>
        </div>
        <div>
            <label for="nome">Nome: </label>
            <inpit type="text" id="nome" name="nome"></inpit>
        </div>
        <input type="submit" value="Cadastrar"/>
    </form>
</body>
</html>