<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/jogo/novo" method="post">
        <div>
            <label for="titulo">Titulo: </label>
            <input type="text" id="titulo" name="titulo"></inpit>
        </div>
        <br/>
        <div>
            <label for="descricao">Descrção: </label>
            <input type="text" id="descricao" name="descricao"></inpit>
        </div>
        <br/>
        <div>
            <label for="precoBase">Preço Base: </label>
            <input type="number" id="precoBase" name="precoBase"></inpit>
        </div>
        <br/>
        <input type="submit" value="Cadastrar"/>
    </form>
</body>
</html>