
<form action="/usuarios/novo" method="post">
    <div>
         <label for="nickname">Nickname: </label>
         <input type="text" id="nickname" name="nickname"></inpit>
     </div>
     <br/>
     <div>
         <label for="nome">Nome: </label>
         <input type="text" id="nome" name="nome"></inpit>
    </div>
    <br/>
    <input type="submit" value="Cadastrar"/>
</form>
